<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My portfolio</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<script type="text/javascript"src="../assets/js/bootstrap.min.js"></script>
</head>
<body>
	<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#Home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#About">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      
      
          </ul>
        </div>
        </nav>


        <!--Image and short intro-->
        <div class="container-fluid p-5 bg-white text-black text-center">
            <img src="../assets/img/3.jpg" height=200 width="200" class="rounded-circle">
            <h4 style="color:lightcoral;">Neera Gurung</h4><a href="https://www.facebook.com/neera.gurung.35/">
            <img src="../assets/img/4.svg" height="30" width="30"></a>
            <a href="https://www.instagram.com/saucyboodles/">
            <img src="../assets/img/6.svg" height="30" width="30">
          </a>
        </div>


        <!--About Section-->
         <div class="container mt-2">
              <h2 id="about">About</h2>
              <font size="5">
                Hello I am neera gurung. I'm from Nepal. I love coding. I hope you take me inside the job UwU.
              </font>
          </div>


          <!--Academic history section-->
          <div class="container mt-5">
            <h2>Academic class</h2>
            <div class="row">
              <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card border-secondary mb-3" style="max-width: 19rem;">
                  <div class="card-header"><h5 class="card-title">
                  basic level examination(BLE)</h5></div>
                  <div class="card-body text-secondary">
                    <p class="card-text">School= Baba Boarding High School <br>G.P.A= 3.60 <br> Grade= A+</p>
                  </div></div></div>

                  <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header"><h5 class="card-title">
                  Secondary education examination(SEE)</h5></div>
                  <div class="card-body text-secondary">
                    <p class="card-text">Baba Boarding High School<br>G.P.A= 4.0 <br> Grade= A+</p>
                  </div></div></div>

                  <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header"><h5 class="card-title">
                  Computer course</h5></div>
                  <div class="card-body text-secondary">
                    Institute= Kathalaya<p class="card-text"><img src="../assets/img/100.png" height="50" width="50"></p>
                  </div></div></div>

                </div></div>



                <!-- Contact Form -->
      <div class="container">
        <h2 id="contact">Contact Me</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Address</legend>
                  <address>
                      <strong></strong><br>
                      Chabahil,Chuchepati<br>
                      Kathmandu<br>
                      <abbr title="Phone">P:</abbr>
                      (977+)98********
                  </address>
                  <address>
                      <strong>Neera gurung</strong><br>
                      <a href="mailto:#">kathalayaneera@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div
	      
	      
	      <!--footer-->
	      <footer class="page-footer font-small dark">
		      
		      
		      <!--copyright-->
		      <div class=footer-copyright text-center py-3>&copy;2020 copyright:<a href="#">Neera gurung</a>
		      </div>
		      
		
		      <!--Copyright-->
	      </footer>
	      
	      </body>
	</html>
